@{
    ViewData["Title"] = "Home Page";
    ViewData["Keywords"] = "Real-time communication, Online conversation, Chat, Chatroom, Notification";
    ViewData["Description"] = "People can chat with each other when they want (and even when they don't want to), and how they want.";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
