@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Keywords"] = "Data privacy, Web privacy, Online security, Confidentiality, Data protection";
    ViewData["Description"] = "Chat application privacy is a hot topic these days. In this article, we take a closer look at the relevant issues, and explain how they can be addressed.";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
